<h1>Requests::Request index</h1>
<%= link_to "Add Request", "/request", data: { turbo_frame: "modal" } %>
<table class="table">
  <thead>
    <tr>
      <th scope="col">ID</th>
      <th scope="col">Name</th>
      <th scope="col">Age</th>
    </tr>
  </thead>
  <tbody id="results">
    <% @requests.each do |request| %>
            <%= render partial: "requests/request/request", locals: {request: request}  %>
    <% end %>
  </tbody>
</table>