<%= turbo_frame_tag :modal do %>
    <div data-controller="turbomodl" data-action="turbo:submit-end->turbomodl#submitEnd">
        <h1>New post</h1>

        <%= render "form", post:@post %>

        <br>

            <div>
                <%= link_to "Back to posts", posts_path%>
            </div>
    </div>
<%end%>
