<div data-controller="preview" data-preview-url-value="/messages" >
    <div data-preview-target="error" class=""></div>
    <form action="post">
        <input type="text" data-preview-target="getData" data-action="input->preview#fetchInput" data-preview-id-param="1"><br/>
            <button type="submit" data-action="click->preview#submitEnd">Submit</button>
        </form>
    </div>
